{% extends "base_utilities.html" %}
{% load static %}

{% block content %}
<div class="container">
  <h2>Cajas</h2>

  <a href="{% url 'cajas_create' %}" class="btn btn-primary">Nueva Caja</a>
  <br>
  <hr>
  <div class="table-responsive">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Número</th>
                  <th>Nombre</th>
                  <th>Estado</th>
                  <th>Fecha de apertura</th>
                  <th>Fecha de cierre</th>
                  <th>Usuario responsable</th>
                  <th>Monto total de efectivo</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
              {% for caja in cajas %}
              <tr>
                  <td>{{ caja.numero_caja }}</td>
                  <td>{{ caja.nombre_caja }}</td>
                  <td>{{ caja.get_estado_display }}</td>
                  <td>{{ caja.fecha_hora_apertura }}</td>
                  <td>{{ caja.fecha_hora_cierre }}</td>
                  <td>{{ caja.usuario_responsable }}</td>
                  <td>{{ caja.monto_total_efectivo }}</td>
                  <td>
                    {% if caja.estado == 'abierto' %}
                    <a href="{% url 'caja_close' caja.pk %}" class="btn btn-danger btn-sm">Cerrar</a>
                    {% elif caja.estado == 'cerrado' %}
                    <a href="{% url 'caja_open' caja.pk %}" class="btn btn-primary btn-sm">Abrir</a>
                    {% endif %}
                    {% if caja.estado == 'cerrado' %}
                    <a href="{% url 'caja_count' caja.pk %}" class="btn btn-info btn-sm">Contar</a>
                    {% endif %}
                    <a href="{% url 'cajas_update' caja.pk %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'cajas_delete' caja.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
</div>

{% endblock content %}