<ul class="list-unstyled components mb-5">
    <!-- Apertura de caja -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseAperturaCaja" role="button" aria-expanded="false" aria-controls="collapseAperturaCaja">
            Apertura de caja
        </a>
        <div class="collapse" id="collapseAperturaCaja">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">Registrar efectivo inicial</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Imprimir comprobante de apertura</a></li>
            </ul>
        </div>
    </li>

    <!-- Cierre de caja -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseCierreCaja" role="button" aria-expanded="false" aria-controls="collapseCierreCaja">
            Cierre de caja
        </a>
        <div class="collapse" id="collapseCierreCaja">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">Calcular efectivo final</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Registrar diferencias</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Imprimir comprobante de cierre</a></li>
            </ul>
        </div>
    </li>

    <!-- Movimientos de caja -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseMovimientosCaja" role="button" aria-expanded="false" aria-controls="collapseMovimientosCaja">
            Movimientos de caja
        </a>
        <div class="collapse" id="collapseMovimientosCaja">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">Registrar entradas y salidas</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Consultar movimientos por fecha</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Consultar arqueo de caja</a></li>
            </ul>
        </div>
    </li>
</ul>
