<ul class="list-unstyled components mb-5">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseClientes1" role="button" aria-expanded="false" aria-controls="collapseClientes1">
            Clientes
        </a>
        <div class="collapse" id="collapseClientes1">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">Datos personales y de contacto</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Clasificación por categorías</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Historial de compras</a></li>
            </ul>
        </div>
    </li>

    <!-- Fidelización -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseFidelizacion" role="button" aria-expanded="false" aria-controls="collapseFidelizacion">
            Fidelización
        </a>
        <div class="collapse" id="collapseFidelizacion">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">Programas de puntos y descuentos</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Segmentación y marketing personalizado</a></li>
            </ul>
        </div>
    </li>

    <!-- Atención al cliente -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseAtencionClientes" role="button" aria-expanded="false" aria-controls="collapseAtencionClientes">
            Atención al cliente
        </a>
        <div class="collapse" id="collapseAtencionClientes">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">Gestión de consultas y quejas</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Soporte técnico y postventa</a></li>
            </ul>
        </div>
    </li>
</ul>
