<ul class="list-unstyled components mb-5">
    <!-- Registro de compras -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseRegistroCompras" role="button" aria-expanded="false" aria-controls="collapseRegistroCompras">
            Registros
        </a>
        <div class="collapse" id="collapseRegistroCompras">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">Facturación</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Proveedores</a></li>
            </ul>
        </div>
    </li>

    <!-- Análisis de compras -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseAnalisisCompras" role="button" aria-expanded="false" aria-controls="collapseAnalisisCompras">
            Análisis de compras
        </a>
        <div class="collapse" id="collapseAnalisisCompras">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">Informes por proveedor, producto, fecha</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Costos y márgenes de beneficio</a></li>
            </ul>
        </div>
    </li>
</ul>
