<ul class="list-unstyled components mb-5">
    <!-- Configuración del sistema -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseConfiguracionEmpresa" role="button" aria-expanded="false" aria-controls="collapseConfiguracionEmpresa">
            Configuración del sistema
        </a>
        <div class="collapse" id="collapseConfiguracionEmpresa">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">Datos de la empresa</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Impuestos y tasas</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Permisos de usuario</a></li>
            </ul>
        </div>
    </li>
    <!-- Informes y estadísticas -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseInformesEmpresa" role="button" aria-expanded="false" aria-controls="collapseInformesEmpresa">
            Informes y estadísticas
        </a>
        <div class="collapse" id="collapseInformesEmpresa">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">Ventas, compras, clientes, productos</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Rentabilidad y análisis financiero</a></li>
            </ul>
        </div>
    </li>
    <!-- Copia de seguridad y mantenimiento -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseCopiaSeguridadEmpresa" role="button" aria-expanded="false" aria-controls="collapseCopiaSeguridadEmpresa">
            Copia de seguridad y mantenimiento
        </a>
        <div class="collapse" id="collapseCopiaSeguridadEmpresa">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">Respaldo de datos</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Actualizaciones del sistema</a></li>
            </ul>
        </div>
    </li>
</ul>
