<ul class="list-unstyled components mb-5">
    <!-- Consulta de movimientos -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseConsultaMovimientos" role="button" aria-expanded="false" aria-controls="collapseConsultaMovimientos">
            Consulta de movimientos
        </a>
        <div class="collapse" id="collapseConsultaMovimientos">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">Entradas y salidas por producto</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Valoración del inventario</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Rotación de inventario</a></li>
            </ul>
        </div>
    </li>

    <!-- Valoración de inventario -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseValoracionInventario" role="button" aria-expanded="false" aria-controls="collapseValoracionInventario">
            Valoración de inventario
        </a>
        <div class="collapse" id="collapseValoracionInventario">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">Costos promedio, LIFO, FIFO</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Ajustes por inventario físico</a></li>
            </ul>
        </div>
    </li>

    <!-- Análisis de inventario -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseAnalisisInventario" role="button" aria-expanded="false" aria-controls="collapseAnalisisInventario">
            Análisis de inventario
        </a>
        <div class="collapse" id="collapseAnalisisInventario">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">Productos con baja rotación</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Productos con alto valor</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Stock mínimo y máximo</a></li>
            </ul>
        </div>
    </li>
</ul>
