<ul class="list-unstyled components mb-5">
    <!-- Gestión de productos -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseGestionProductos" role="button" aria-expanded="false" aria-controls="collapseGestionProductos">
            Gestión de productos
        </a>
        <div class="collapse" id="collapseGestionProductos">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">Alta, baja y modificación de productos</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Categorías y subcategorías</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Impuestos y tasas</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Imágenes y descripción</a></li>
            </ul>
        </div>
    </li>
    
    <!-- Precios y stock -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapsePreciosStock" role="button" aria-expanded="false" aria-controls="collapsePreciosStock">
            Precios y stock
        </a>
        <div class="collapse" id="collapsePreciosStock">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">Costo de adquisición</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Precio de venta</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Stock actual y mínimo</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Reposición de stock</a></li>
            </ul>
        </div>
    </li>

    <!-- Inventarios -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseInventarios" role="button" aria-expanded="false" aria-controls="collapseInventarios">
            Inventarios
        </a>
        <div class="collapse" id="collapseInventarios">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">Ajustes de inventario</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Conteo físico de stock</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Valoración de inventario</a></li>
            </ul>
        </div>
    </li>
</ul>
