<ul class="list-unstyled components mb-5">
    <!-- Alta y gestión de proveedores -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseAltaGestionProveedores" role="button" aria-expanded="false" aria-controls="collapseAltaGestionProveedores">
            Alta y gestión de proveedores
        </a>
        <div class="collapse" id="collapseAltaGestionProveedores">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">Datos de contacto</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Condiciones de compra</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Catálogo de productos</a></li>
            </ul>
        </div>
    </li>
    
    <!-- Pedidos a proveedores -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapsePedidosProveedores" role="button" aria-expanded="false" aria-controls="collapsePedidosProveedores">
            Pedidos a proveedores
        </a>
        <div class="collapse" id="collapsePedidosProveedores">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">Realizar pedidos y consultar estado</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Recepción de mercadería</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Control de albaranes y facturas</a></li>
            </ul>
        </div>
    </li>

    <!-- Pagos a proveedores -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapsePagosProveedores" role="button" aria-expanded="false" aria-controls="collapsePagosProveedores">
            Pagos a proveedores
        </a>
        <div class="collapse" id="collapsePagosProveedores">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">Registrar pagos y consultar histórico</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Conciliación bancaria</a></li>
            </ul>
        </div>
    </li>
</ul>
