<ul class="list-unstyled components mb-5">
    <!-- Punto de venta -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapsePuntoVenta" role="button" aria-expanded="false" aria-controls="collapsePuntoVenta">
            Punto de venta
        </a>
        <div class="collapse" id="collapsePuntoVenta">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">Registrar ventas con diferentes métodos de pago</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Imprimir tickets y facturas</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Gestionar devoluciones</a></li>
            </ul>
        </div>
    </li>
    
    <!-- Promociones y descuentos -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapsePromocionesDescuentos" role="button" aria-expanded="false" aria-controls="collapsePromocionesDescuentos">
            Promociones y descuentos
        </a>
        <div class="collapse" id="collapsePromocionesDescuentos">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">Descuentos por producto o categoría</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Cupones y ofertas especiales</a></li>
            </ul>
        </div>
    </li>

    <!-- Formas de pago -->
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="collapse" href="#collapseFormasPago" role="button" aria-expanded="false" aria-controls="collapseFormasPago">
            Formas de pago
        </a>
        <div class="collapse" id="collapseFormasPago">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" class="text-dark">Efectivo, tarjeta, crédito, etc.</a></li>
                <li class="list-group-item"><a href="#" class="text-dark">Gestión de cobros y devoluciones</a></li>
            </ul>
        </div>
    </li>
</ul>
