{% extends "base_utilities.html" %}

{% block content %}

<h1>Gestor MikroTik - Interfaces</h1>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    {% if active_interfaces or inactive_interfaces %}
        <h2>Interfaces Activas</h2>
        <ul>
            {% for iface in active_interfaces %}
                <li>{{ iface.name }}</li>
            {% endfor %}
        </ul>

        <h2>Interfaces Inactivas</h2>
        <ul>
            {% for iface in inactive_interfaces %}
                <li>{{ iface.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock content %}

