
{% extends "base.html" %}

{% block content %}
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 mb-4 text-center">
                <h1>No se pudo completar el pago por favor, verifica el saldo de tu cuenta o intenta con otra tarjeta.</h1>
                <p>{{ error_message }}</p>
                <a href="{% url 'servicio_inter'%}" class="btn btn-primary">Intentar de nuevo</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
