{% extends 'base.html' %}
{% load humanize %}


{% block content %}
  <div class="container mt-5">
    <div class="row">
      <!-- Parte izquierda con detalles de la reserva -->
      <div class="col-md-6">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h2 class="mb-4">¡Reserva Exitosa!</h2>
          Tu reserva ha sido realizada con éxito.
        </div>

        <div class="mb-4">
          <p class="lead">Código de Reserva: <strong>{{ reserva.codigo_reserva }}</strong></p>
        </div>

        <h3>Detalles de la Reserva:</h3>
        <ul class="list-group mb-4">
          <li class="list-group-item"><strong>Nombre:</strong> {{ reserva.nombre }}</li>
          <li class="list-group-item"><strong>DUI:</strong> {{ reserva.dui }}</li>
          <li class="list-group-item"><strong>Correo Electrónico:</strong> {{ reserva.correo_electronico }}</li>
          <li class="list-group-item"><strong>Dirección:</strong> {{ reserva.direccion }}</li>
          <li class="list-group-item"><strong>Cantidad de Adultos:</strong> {{ reserva.cantidad_adultos }}</li>
          <li class="list-group-item"><strong>Cantidad de ninos:</strong> {{ reserva.cantidad_ninos }}</li>
          <li class="list-group-item"><strong>Fecha de Reserva:</strong> {{ reserva.fecha_reserva }}</li>
          <li class="list-group-item">
            <strong>Total a Pagar:</strong>
            <span class="text-primary h4">
                ${{ reserva.total_pagar|floatformat:2|intcomma }}
            </span>
          </li>
          <!-- Agrega más detalles según sea necesario -->
        </ul>

        <p class="lead">Gracias por elegir nuestro tour. ¡Esperamos que tengas una experiencia maravillosa!</p>
        <p class="lead">Tienes 24 horas para realizar tu pago.</p>
      </div>

      <!-- Parte derecha con el código QR y botón de pago -->
      <div class="col-md-6 mb-4 mt-4">
        <div class="text-center">
          <img src="{{ enlace_pago.url_qr_code }}" alt="Código QR" class="img-fluid img-thumbnail" style="max-width: 350px;     margin-top: 30%;">
          <a href="{{ enlace_pago.url_enlace }}" class="btn btn-primary mt-3" target="_blank">Proceder con el pago</a>
        </div>
      </div>
      
    </div>
    
  </div>

<!-- Div de superposición para mostrar el mensaje "Esperando el pago" -->
<div id="overlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.95); z-index: 1000;">
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white;">
    <h1 class="text-red">Esperando el pago...</h1>
    <h2 id="countdown" class="text-yellow">Tiempo restante: 30 segundos</h2>
    <a href="#" class="btn btn-primary mt-3" id="verificarPagoButton">Verificar Pago</a>
      <!-- Botón de verificar pago -->
    {% comment %} <button id="verificarPagoButton" style="display: none;">Verificar Pago</button> {% endcomment %}
  
  </div>
</div>
</div>

<!-- Scripts de Bootstrap y jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

<script>
  // Función para mostrar el div de superposición cuando el estado de la reserva es "PENDIENTE"
  function mostrarEsperandoPago() {
    document.getElementById("overlay").style.display = "block";
  }
  
  // Función para ocultar el div de superposición cuando el estado de la reserva cambia a "PAGADO"
  function ocultarEsperandoPago() {
    document.getElementById("overlay").style.display = "none";
  }
  
  // Función para mostrar el botón de verificar pago
  function mostrarBotonVerificarPago() {
    document.getElementById("verificarPagoButton").style.display = "block";
  }
  
  // Función para ocultar el botón de verificar pago
  function ocultarBotonVerificarPago() {
    document.getElementById("verificarPagoButton").style.display = "none";
  }
  
  // Verificar el estado de la reserva y llamar a las funciones correspondientes
  {% if reserva.estado_reserva != 'PAGADO' %}
  mostrarEsperandoPago();
  {% elif reserva.estado_reserva == 'PAGADO' %}
  ocultarEsperandoPago();
  {% endif %}
  
  // Contador de tiempo de 30 segundos
  {% if reserva.estado_reserva != 'PAGADO' %}
  var tiempoRestante = 30; // Inicializar el contador
  
  // Verificar si existe una entrada en sessionStorage para el contador de recargas
  var recargas = sessionStorage.getItem('recargas');
  // Si no hay entrada en sessionStorage, inicializar el contador en 0
  if (recargas === null) {
    recargas = 0;
  }
  // Incrementar el contador de recargas
  recargas++;
  // Almacenar el nuevo valor del contador en sessionStorage
  sessionStorage.setItem('recargas', recargas);
  
  // Mostrar u ocultar el botón de verificar pago según el número de recargas
  if (tiempoRestante < 1) {
    mostrarBotonVerificarPago();
  } else {
    ocultarBotonVerificarPago();
  }
  
  // Iniciar el contador de tiempo
  var intervalo = setInterval(function() {
    tiempoRestante--;
    document.getElementById("countdown").textContent = "Tiempo restante: " + tiempoRestante + " segundos";
    if (tiempoRestante == 0) {
      clearInterval(intervalo);
      document.getElementById("countdown").textContent = "Se agotó el tiempo de espera, verifica de forma manual tu pago";
      mostrarBotonVerificarPago();
    }
  }, 1000);
  {% endif %}

</script>


<script>

{% if reserva.estado_reserva != 'PAGADO' %}
  var ventanaEnlacePagoAbierta = false;
  // Función para abrir el enlace de pago en una nueva pestaña
  function abrirEnlacePago(enlacePago) {
      // Si la ventana emergente ya está abierta o la reserva tiene un estado de "PAGADO", no abra la ventana emergente
      if (ventanaEnlacePagoAbierta || "{{ reserva.estado_reserva }}" == "PAGADO") {
          return;
      }
      // Abre el enlace en una nueva pestaña
      var ventanaEnlacePago = window.open(enlacePago, '_blank');
      ventanaEnlacePagoAbierta = true;

      // Cierra la ventana emergente después de 30 segundos
      setTimeout(function() {
          ventanaEnlacePago.close();
          ventanaEnlacePagoAbierta = false;
      }, 30000);
  }

  // Llama a la función para abrir el enlace de pago cuando se cargue la página
  window.onload = function() {
      var enlacePago = "{{ enlace_pago.url_enlace }}"; // Aquí deberías pasar la URL del enlace de pago desde tu vista Django
      abrirEnlacePago(enlacePago);
  };
{% endif %}

// Función para recargar la página cuando se haga clic en el botón
document.getElementById("verificarPagoButton").addEventListener("click", function() {
  location.reload(); // Recargar la página
});
</script>


{% endblock %}
