{% extends 'base.html' %}
{% load humanize %}
{% block content %}
  <div class="container mt-5">
    <div class="row">
      <!-- Parte izquierda con detalles de la reserva -->
      <div class="col-md-6">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h2 class="mb-4">¡Reserva Exitosa!</h2>
          Tu reserva ha sido realizada con éxito.
        </div>

        <div class="mb-4">
          <p class="lead">Código de Reserva: <strong>{{ reserva.codigo_reserva }}</strong></p>
        </div>

        <h3>Detalles de la Reserva:</h3>
        <ul class="list-group mb-4">
          <li class="list-group-item"><strong>Nombre:</strong> {{ reserva.nombre }}</li>
          <li class="list-group-item"><strong>DUI:</strong> {{ reserva.dui }}</li>
          <li class="list-group-item"><strong>Correo Electrónico:</strong> {{ reserva.correo_electronico }}</li>
          <li class="list-group-item"><strong>Dirección:</strong> {{ reserva.direccion }}</li>
          <li class="list-group-item"><strong>Cantidad de Adultos:</strong> {{ reserva.cantidad_adultos }}</li>
          <li class="list-group-item"><strong>Cantidad de ninos:</strong> {{ reserva.cantidad_ninos }}</li>
          <li class="list-group-item"><strong>Fecha de Reserva:</strong> {{ reserva.fecha_reserva }}</li>
          <li class="list-group-item">
            <strong>Total a Pagar:</strong>
            <span class="text-primary h4">
                ${{ reserva.total_pagar|floatformat:2|intcomma }}
            </span>
          </li>
          <!-- Agrega más detalles según sea necesario -->
        </ul>

        <p class="lead">Gracias por elegir nuestro tour. ¡Esperamos que tengas una experiencia maravillosa!</p>
        <p class="lead">Tienes 24 horas para realizar tu pago.</p>
      </div>

      <!-- Parte derecha con el código QR y botón de pago -->
      <div class="col-md-6 mb-4 mt-4">
        <div class="text-center">
          <img src="{{ enlace_pago.url_qr_code }}" alt="Código QR" class="img-fluid img-thumbnail" style="max-width: 350px;     margin-top: 30%;">
          <a href="{{ enlace_pago.url_enlace }}" class="btn btn-primary mt-3" target="_blank">Proceder con el pago</a>
        </div>
      </div>
      
    </div>
    
  </div>
  

  <!-- Scripts de Bootstrap y jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
{% endblock %}
