<div class="container text-center">
<div class="d-inline-block" style=" text-align: center;">
    <div class="card text-center" style="width: 10rem">
        <div class="card-header">
            <a href="#" class="">Consultas</a>
        </div>
      <div class="card-body">
        <a href="#" class="">
            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="gray" class="bi bi-info" viewBox="0 0 16 16">
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
            </svg>
        </a>
          <p class="card-text">Conuslta de informacion...</p>
      </div>
    </div>
  </div>
  
  <div class="d-inline-block">
    <div class="card text-center" style="width: 10rem;">
        <div class="card-header">
            <a href="#" class="">Cajas</a>
        </div>
      <div class="card-body">
        <a href="#" class="">
            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="gray" class="bi bi-suitcase-lg-fill" viewBox="0 0 16 16">
                <path d="M7 0a2 2 0 0 0-2 2H1.5A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14H2a.5.5 0 0 0 1 0h10a.5.5 0 0 0 1 0h.5a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2H11a2 2 0 0 0-2-2zM6 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1zM3 13V3h1v10zm9 0V3h1v10z"/>
            </svg>
        </a>
          <p class="card-text">Aperturas y cierres de caja...</p>
      </div>
    </div>
  </div>
  <div class="d-inline-block">
    <div class="card text-center" style="width: 10rem;">
        <div class="card-header">
            <a href="#" class="">Productos</a>
        </div>
      <div class="card-body">
        <a href="#" class="">
            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="gray" class="bi bi-p-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.5 4.002V12h1.283V9.164h1.668C10.033 9.164 11 8.08 11 6.586c0-1.482-.955-2.584-2.538-2.584zm2.77 4.072c.893 0 1.419-.545 1.419-1.488s-.526-1.482-1.42-1.482H6.778v2.97z"/>
            </svg>
        </a>
          <p class="card-text">Gestion de productos...</p>
      </div>
    </div>
  </div>
  
  <div class="d-inline-block">
    <div class="card text-center" style="width: 10rem;">
        <div class="card-header">
            <a href="#" class="">Ventas</a>
        </div>
      <div class="card-body">
        <a href="#" class="">
            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="gray" class="bi bi-basket2-fill" viewBox="0 0 16 16">
                <path d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0zm4-1a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0v-2a1 1 0 0 1 1-1"/>
            </svg>
        </a>
          <p class="card-text">Punto de Venta, registro, etc...</p>
      </div>
    </div>
  </div>

  <div class="d-inline-block">
    <div class="card text-center" style="width: 10rem;">
        <div class="card-header">
            <a href="#" class="">Proveedores</a>
        </div>
      <div class="card-body">
        <a href="#" class="">
            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="gray" class="bi bi-boxes" viewBox="0 0 16 16">
                <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434zM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567zM7.5 9.933l-2.75 1.571v3.134l2.75-1.571zm1 3.134 2.75 1.571v-3.134L8.5 9.933zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567zm2.242-2.433V3.504L8.5 5.076V8.21zM7.5 8.21V5.076L4.75 3.504v3.134zM5.258 2.643 8 4.21l2.742-1.567L8 1.076zM15 9.933l-2.75 1.571v3.134L15 13.067zM3.75 14.638v-3.134L1 9.933v3.134z"/>
            </svg>
        </a>
          <p class="card-text">Alta y gestion de proveedores...</p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container text-center">   
      <div class="d-inline-block">
        <div class="card text-center" style="width: 10rem;">
            <div class="card-header">
                <a href="#" class="">Compras</a>
            </div>
          <div class="card-body">
            <a href="#" class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="gray" class="bi bi-truck" viewBox="0 0 16 16">
                    <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5zm1.294 7.456A2 2 0 0 1 4.732 11h5.536a2 2 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456M12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
                </svg>
            </a>
              <p class="card-text">Gestion de compras...</p>
          </div>
        </div>
      </div>
      <div class="d-inline-block">
        <div class="card text-center" style="width: 10rem;">
            <div class="card-header">
                <a href="#" class="">Clientes</a>
            </div>
          <div class="card-body">
            <a href="#" class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="gray" class="bi bi-person-vcard" viewBox="0 0 16 16">
                    <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5"/>
                    <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z"/>
                </svg>
            </a>
              <p class="card-text">Gestion de clientes...</p>
          </div>
        </div>
      </div>
      
      <div class="d-inline-block">
        <div class="card text-center" style="width: 10rem;">
            <div class="card-header">
                <a href="#" class="">Empresa</a>
            </div>
          <div class="card-body">
            <a href="#" class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="gray" class="bi bi-bank2" viewBox="0 0 16 16">
                    <path d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916zM12.375 6v7h-1.25V6zm-2.5 0v7h-1.25V6zm-2.5 0v7h-1.25V6zm-2.5 0v7h-1.25V6zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2M.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1z"/>
                </svg>
            </a>
              <p class="card-text">Administracion de la empresa...</p>
          </div>
        </div>
      </div>
    
      <div class="d-inline-block">
        <div class="card text-center" style="width: 10rem;">
            <div class="card-header">
                <a href="#" class="">Cardex</a>
            </div>
          <div class="card-body">
            <a href="#" class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="gray" class="bi bi-buildings-fill" viewBox="0 0 16 16">
                    <path d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zM2 11h1v1H2zm2 0h1v1H4zm-1 2v1H2v-1zm1 0h1v1H4zm9-10v1h-1V3zM8 5h1v1H8zm1 2v1H8V7zM8 9h1v1H8zm2 0h1v1h-1zm-1 2v1H8v-1zm1 0h1v1h-1zm3-2v1h-1V9zm-1 2h1v1h-1zm-2-4h1v1h-1zm3 0v1h-1V7zm-2-2v1h-1V5zm1 0h1v1h-1z"/>
                </svg>
            </a>
              <p class="card-text">Gestion de inventario...</p>
          </div>
        </div>
      </div>
    </div>