 {% load static %}
 <!-- Destination Start -->
 <div class="container-fluid py-6">
    <div class="container pt-5 pb-6">
        <div class="text-center mb-1 pb-5">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px; font-size: 35px;">Tours</h6>
            <h3>Explora lo mejor de nuestro pais.</h3>
        </div>
        <div class="row">
            {% for tour in tours %}
            <div class="col-lg-4 col-md-6 mb-4">
                {% if tour.disponible %}
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="{{ tour.url_azure }}" alt="{{ tour.titulo }}">
                    <a class="destination-overlay text-white text-decoration-none" href="{% url 'tour_detail' tour.id %}">
                        <h5 class="text-white">{{ tour.titulo }}</h5>
                        {% comment %} <span>{{ tour.descripcion }}</span> {% endcomment %}
                        <p class="text-white">Precio Adultos: ${{ tour.precio_adulto }}</p>
                        <p class="text-white">Duracion:{{ tour.duracion }} Horas</p>
                    </a>
                </div>
                {% else %}
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="{{ tour.url_azure }}" alt="{{ tour.titulo }}">
                    <div class="destination-overlay text-white text-decoration-none">
                        <h5 class="text-white">{{ tour.titulo }}</h5>
                        <p class="text-white">Precio Adultos: ${{ tour.precio_adulto }}</p>
                        <p class="text-white">Duracion:{{ tour.duracion }} Horas</p>
                        <div class="alert alert-danger" role="alert" style="background-color: rgba(255, 235, 59, 0.5);">
                            <h4 class="alert-heading text-white">¡No disponible!</h4>
                            <p class="text-white">Por el momento este tour no se encuentra disponible.</p>
                            <hr>
                            <p class="mb-0 text-white"><a class="text-white" href="{% url 'contacto'%}">Solicitar Ayuda</a></p>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Destination Start -->