    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href="" class="navbar-brand">
                    <h2 class="text-primary"><span class="text-white">{{ ultima_descripcion.medio_titulo }} </span>{{ ultima_descripcion.titulo_corto }}</h2>
                </a>
                <p>{{ dultima_descripcion.descripcion_corta}}</p>
                <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Siguenos</h6>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-outline-primary btn-square mr-2" href="{{ barra_principal.url_twitter }}"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-primary btn-square mr-2" href="{{ barra_principal.url_facebook }}"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary btn-square mr-2" href="{{ barra_principal.url_linkedin }}"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-primary btn-square" href="{{ barra_principal.url_instagram }}"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Secciones principales</h5>
                <div class="d-flex flex-column justify-content-start">
                    {% for url_ in urls_info %}
                        <a class="text-white-50 mb-2" href="{{ url_.url }}" target="_blank"><i class="fa fa-angle-right mr-2"></i>{{ url_.title }}</a>
                    {% endfor %}
                </div>
            </div>
            <!-- Modificado para tomar datos del modelo Urls_interes -->
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Paginas de interes</h5>
                <div class="d-flex flex-column justify-content-start">
                    {% for url_ in urls_interes %}
                        <a class="text-white-50 mb-2" href="{{ url_.url }}" target="_blank"><i class="fa fa-angle-right mr-2"></i>{{ url_.title }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Contactanos</h5>
                <p><i class="fa fa-map-marker-alt mr-2"></i>{{ data_contact.addres }}</p>
                <p><i class="fa fa-phone-alt mr-2"></i>+503 {{ data_contact.contact_phone }}</p>
                <p><i class="fa fa-envelope mr-2"></i>{{ data_contact.contact_email }}</p>
                <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Noticias</h6>
                <div class="w-100">
                    <div class="input-group">
                        <input type="text" class="form-control border-light" style="padding: 25px;" placeholder="Tu Correo Electronico">
                        <div class="input-group-append">
                            <button class="btn btn-primary px-3">Registrarse</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="row">
            <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white-50">Copyright &copy; <a href="#">volcanosm.net</a>. Derechos reservados VolcanoSM SA de CV.</a>
                </p>
            </div>
            <div class="col-lg-6 text-center text-md-right">
                <p class="m-0 text-white-50">Diseñado y Desarrollado por <a href="#t">VolcanoSM</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Footer End -->